.cc-grid {
  display: grid;
  grid-auto-flow: column;
  background-color: #3b6a79;
  color: #fff;
  border-radius: 2.5em;
  margin: 1em;
}

.cc-header {
  font-size: 1.7em;
  letter-spacing: 0.4em;
}

.cc-article {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.cc-description {
  text-align: end;
  padding: 1em;
}
.cc-img {
  width: 100%;
  border-radius: 2em 0 0 2em;
}
