.cc-grid {
  display: grid;
  background-color: #0d3946;
  color: #fff;
  border-radius: 2.5em;
  border: 0.5em solid;
}

.cc-header {
  font-size: 1.7em;
  letter-spacing: 0.4em;
}

.cc-img {
  width: 100%;
  border-radius: 2em;
}
