#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #cbc5de;
  margin-top: 60px;
}

body {
  background-color: #3d3946;
  margin: 0;
}

.headerLogo {
  width: 100%;
}

.container {
  display: grid;
  grid-gap: 0.5em;
}

.headerImg {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: blur(2px);
}

.searchBar {
  margin-top: 1em;
}

.character-cards {
  background-color: #fff;
}
