#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(65, 34, 160);
  margin-top: 60px;
}

body {
  background-color: #e999ff;
  margin: 0;
}

.headerLogo {
  width: 100%;
}

.container {
  display: grid;
  grid-gap: 0.5em;
}

.headerImg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: blur(2px);
}

.character-cards {
  background-color: #fff;
}
